// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


background-image: url(.app\assets\images\snow.jpg);

h1{
    margin-bottom:30px;
}


td {
  padding-right:15px;
}

th {
  padding-right:15px;
}


.admin a{
    visibility:hidden;
}


.status:hover a {
    visibility:visible;
}

